.DS_Store
.vscode

*.jpg
*.png
*.jpeg
*.txt
*.csv
*.xlsx
*.zip
*.ipynb
result.html

Data/Other/
BoudingBox 2/

csvtojson5/Annotations
csvtojson5/pycococreator
csvtojson5/detectron2
csvtojson5/coco
csvtojson5/cocoapi

/csvtojson5/USELESS_CODE

# Datasets
/Data/MahdiDrive
csvtojson5/balloon
csvtojson5/soccer